hr {
    margin: 0;
}
.footer {
    background-color: var(--branco);
    font-family: var(--font-hamburguer);
    font-size: 14px;
    font-weight: 700;
    color: var(--cor-azul);
    padding: 2em;
    text-align: center;
}