.topicos {
    background: var(--cor-azul);
    text-align: center;
    font-family: var(--font-hamburguer);
    padding: 1em 0;
}
.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding-bottom: 1em;
}
.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--cor-cenoura);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.lista__item {
    margin: 2em 0.5em;
}